<h3>お気に入り一覧</h3>
<table>
  <% @favorites.each do |favorite| %>
    <tr>
      <td><%= image_tag favorite.image.url if favorite.image.present? %></td>
      <td><%= link_to "#{favorite.name}", favorite.url, target: :_blank %></td>
      <td><%= favorite.user.name %>さん</td>
    </tr>
  <% end %>
</table>

<%= link_to '戻る', user_path(current_user) %>
