  <div class="post_top">



  <div class="top">
    <div class="container">
      <p class="bound">
        <span>C</span>
        <span>o</span>
        <span>o</span>
        <span>k</span>
        <span>　</span>
        <span>C</span>
        <span>h</span>
        <span>a</span>
        <span>i</span>
        <span>n</span>
        <span>e</span>
        <span>r</span>
      </p>
    </div>

    <div class="top_slider">
      <div><img src="assets/top1.jpg"></div>
      <div><img src="assets/top2.jpg"></div>
      <div><img src="assets/top3.jpg"></div>
      <div><img src="assets/top4.jpg"></div>
      <div><img src="assets/top5.jpg"></div>
    </div>
  </div>



  <div class="content">


      <strong>Cook Chainer<br></strong>
    <h2>
      料理は好きだけど、なかなか続かない・・・<br>
      そんな経験ありませんか？<br>

      CookChainerは、料理初心者の方のためのサービスです。<br>

      ゲーム要素を取り入れ、楽しく料理を続けることができます。<br>

      このアプリで、もう一度料理にチャレンジしてみませんか？<br>
      気づいた頃には、料理が得意だと自信を持って言えるようになっているでしょう！<br>
    </h2>

  </div>



  <div class="sliders">

    <div class="slider">
      <h3><strong>説明タイトル1</strong></h3>
      <img src="assets/test1.webp"><br>
      <p>ここは説明文1が入ります。ここは説明文1が入ります。ここは説明文1が入ります。ここは説明文1が入ります。ここは説明文1が入ります。ここは説明文1が入ります。ここは説明文1が入ります。ここは説明文1が入ります。ここは説明文1が入ります。ここは説明文1が入ります。</p>
    </div>

    <div class="slider">
      <h3><strong>説明タイトル2</strong></h3>
      <img src="assets/test2.jpeg"><br>
      <p>ここは説明文2が入ります。ここは説明文2が入ります。ここは説明文2が入ります。ここは説明文2が入ります。ここは説明文2が入ります。ここは説明文2が入ります。ここは説明文2が入ります。ここは説明文2が入ります。ここは説明文2が入ります。ここは説明文2が入ります。</p>
    </div>

    <div class="slider">
      <h3><strong>説明タイトル3</strong></h3>
      <img src="assets/test1.webp"><br>
      <p>ここは説明文3が入ります。ここは説明文3が入ります。ここは説明文3が入ります。ここは説明文3が入ります。ここは説明文3が入ります。ここは説明文3が入ります。ここは説明文3が入ります。ここは説明文3が入ります。ここは説明文3が入ります。ここは説明文3が入ります。</p>
    </div>

    <div class="slider">
      <h3><strong>説明タイトル4</strong></h3>
      <img src="assets/test2.jpeg"><br>
      <p>ここは説明文4が入ります。ここは説明文4が入ります。ここは説明文4が入ります。ここは説明文4が入ります。ここは説明文4が入ります。ここは説明文4が入ります。ここは説明文4が入ります。ここは説明文4が入ります。ここは説明文4が入ります。ここは説明文4が入ります。</p>
    </div>

  </div>

</div>
