  <div class="post_top">



  <div class="top">
    <!-- <div class="container">
      <p class="bound">
        <span>C</span>
        <span>o</span>
        <span>o</span>
        <span>k</span>
        <span>　</span>
        <span>C</span>
        <span>h</span>
        <span>a</span>
        <span>i</span>
        <span>n</span>
        <span>e</span>
        <span>r</span>
      </p>
    </div> -->
    <div class="top_slider">
      <div><img src="assets/sarada.jpg"></div>
      <div><img src="assets/sarada.jpg"></div>
      <div><img src="assets/sarada.jpg"></div>
      <div><img src="assets/sarada.jpg"></div>
      <div><img src="assets/sarada.jpg"></div>
      <div><img src="assets/sarada.jpg"></div>
    </div>

  </div>

  <div class="content">
    <p>コンテント</p>
  </div>


  <div class="slider">
    <div><img src="assets/test1.webp"></div>
    <div><img src="assets/test2.jpeg"></div>
    <div><img src="assets/test1.webp"></div>
    <div><img src="assets/test2.jpeg"></div>
  </div>
</div>
