  <div class="post_top">



  <div class="top">
    <div class="container">
      <p class="bound">
        <span>C</span>
        <span>o</span>
        <span>o</span>
        <span>k</span>
        <span>　</span>
        <span>C</span>
        <span>h</span>
        <span>a</span>
        <span>i</span>
        <span>n</span>
        <span>e</span>
        <span>r</span>
      </p>
    </div>

    <div class="top_slider">
      <div><img src="assets/top1.jpg"></div>
      <div><img src="assets/top2.jpg"></div>
      <div><img src="assets/top3.jpg"></div>
      <div><img src="assets/top4.jpg"></div>
      <div><img src="assets/top5.jpg"></div>
    </div>
  </div>



  <div class="content">
    <p>コンテント</p>
  </div>



  <div class="sliders">

    <div class="slider">
      <h3>adfasdfa</h3>
      <img src="assets/test1.webp">
      <p>あ；dsfじゃskfd；あsdf；あskdf；あsfじゃ；sjfd；あkf；あjふぁ；j</p>
    </div>

    <div class="slider">
      <h3>adfasdfa</h3>
      <img src="assets/test2.jpeg">
      <p>aaaaa</p>
    </div>

    <div class="slider">
      <h3>adfasdfa</h3>
      <img src="assets/test1.webp">
      <p>aaaaaaaaaa</p>
    </div>

    <div class="slider">
      <h3>adfasdfa</h3>
      <img src="assets/test2.jpeg">
      <p>aa</p>
    </div>

  </div>

</div>
