// Place all the styles related to the favorites controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.favorite_index {

  .user {
  }

  .icon_image img {
    width: 60px;
    height: 60px;
    object-fit: cover;
    border-radius: 50%;
    margin: 40px;
  }

  .cook_image img {
    border-radius: 5px;
    width: 130px;
    height: 130px;
    object-fit: cover;
  }

}
