html {
  position: relative;
  min-height: 100%;
}
body {
  text-align: center;
}
.container a {
  text-decoration: none;
}








// _form
.post_form {

  .field {
    #post_image {
      margin-left: 40%;
    }

  }

  .fields {
    margin: 30px auto;
    padding: 0;
    width: 400px;
    display: flex;
    flex-wrap: wrap;
  }

  .fields .field {
    text-align: left;
    width: 200px;
    margin: 10px 0;
  }

}
