// .slick-dots {
//   li {
//     font-size: 20px !important;
//     button:before {
//       content: "★" !important;
//       font-size: 14px !important;
//       color: rgb(60, 60, 60) !important;
//     }
//   }
// }


.slider{
	width:80%;
	margin:0 auto;
  }

.slider img {
	width:100%;
  height: 500px;
}
