// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


html {
  position: relative;
  min-height: 100%;
}
body {
  text-align: center;
}
.container{
    margin-top:20px;
    padding-bottom: 100px;
}
// .box_style {
//     width: 40%;
//     margin: 100px auto;
//     font-weight: bold;
//     color: #6091d3;
//     border: solid 4px;
//     border-radius: 20px;
//     text-align: center;
//     background: tomato;
// }

// index.html.erbのidを持ってきたいが、できなかったのでやむなく0~100で指定
@for $i from 0 through 100 {
  #box_#{$i} {
    width: 40%;
    margin: 100px auto;
    font-weight: bold;
    color: #d2b48c;
    border: solid 4px;
    border-radius: 20px;
    text-align: center;
  }
}
