.post_top {
  width: 100vw;

// 上
  .top {
    position: relative;
    width: 100vw;


    // 画像
    img {
      width: 100%;
      height: 100%;
    }


    // 文字アニメーション
    .title{
      position:absolute;
      top: 0;
      width:100%;
      margin: 0;
      padding: 0;

      .bound {
        position: absolute;
        width: 100%;
        height: 300px;
        top: 2%;
      }

      .bound span{
        font-family: Consolas, 'Courier New', Courier, Monaco, monospace;
        position: absolute;
        left: 0;
        right: 0;
        margin: auto;

        // font-size:5em;

        font-weight:bold;
        color:#0091EA;
        text-align:center;
        width:100px;
        height:100px;


        // スマホサイズ
        @media (max-width: 767px) {
          font-size:2.0em;
        }
        // タブレットサイズ
        @media (min-width: 768px) and (max-width: 991px) {
          font-size:3.5em;
        }
        // PCサイズ
        @media (min-width: 992px) and (max-width: 1199px) {
          font-size:4em;
        }
        // 大きなPCサイズ
        @media (min-width: 1200px) {
          font-size:5em;
        }
      }

      /*アニメーション指定
      文字数に合わせてleftや開始時間（2つ目のs）を設定する*/
      .bound span:nth-child(1){ left:-7.0em; animation: bound-anim 2s 0.0s infinite;}
      .bound span:nth-child(2){ left:-5.6em; animation: bound-anim 2s 0.1s infinite;}
      .bound span:nth-child(3){ left:-4.2em; animation: bound-anim 2s 0.2s infinite;}
      .bound span:nth-child(4){ left: -2.8em; animation: bound-anim 2s 0.3s infinite;}

      .bound span:nth-child(5){ left: -1.4em; animation: bound-anim 2s 0.3s infinite;}

      .bound span:nth-child(6){ left: 0em; animation: bound-anim 2s 0.4s infinite;}
      .bound span:nth-child(7){ left: 1.4em; animation: bound-anim 2s 0.5s infinite;}
      .bound span:nth-child(8){ left:2.8em; animation: bound-anim 2s 0.6s infinite;}
      .bound span:nth-child(9){ left: 4.2em; animation: bound-anim 2s 0.7s infinite;}
      .bound span:nth-child(10){ left: 5.6em; animation: bound-anim 2s 0.8s infinite;}
      .bound span:nth-child(11){ left: 7.0em; animation: bound-anim 2s 0.9s infinite;}
      .bound span:nth-child(12){ left: 8.4em; animation: bound-anim 2s 1s infinite;}

      /*アニメーションキーフレーム*/
      @keyframes bound-anim {
        0%,100% {top: 0;transform: scale(1);}
        30% {top: -5%;}
        50% {transform: scale(1);}
        90% {top: 0;transform: scale(1.1,0.9);}
      }
    }


    // スライダー
    .slider{
      position: absolute;
      top: 27%;
      width:32%;
      text-align: center;
      margin-left: 36%;

      img {
        width:100%;
        height: 100%;
      }
    }
  }






// 真ん中
  .about {
    position: relative;
    width: 100%;
    height: 550px;
    background-color: #f9f5ea;
    font-family: Consolas, 'Courier New', Courier, Monaco, monospace;
    padding: 0;
    margin: 0;

    .text {
      position: absolute;
      width: 50%;
      box-sizing: border-box;
      padding: 0;

      // スマホサイズ
      @media (max-width: 767px) {
        top: 15%;
      }
      // タブレットサイズ
      @media (min-width: 768px) and (max-width: 991px) {
        top: 10%;
      }
      // PCサイズ
      @media (min-width: 992px) and (max-width: 1199px) {
        top: 15%;
      }
      // 大きなPCサイズ
      @media (min-width: 1200px) {
        top: 15%;
      }


    }

    .text p {
      font-size: 2rem;
      margin: 30px;
    }

    .text p strong {
      font-size: 40px;
      color:#0091EA;
      margin: 10px;
    }


    .buttons {
      position: absolute;
      right: 0;
      top: 12%;
      width: 50%;
      box-sizing: border-box;
      padding: 0;
    }

    .buttons a {
      margin: 25px;
      // スマホサイズ
      @media (max-width: 767px) {
        margin: 18px;
      }
    }

    .buttons .btn-sticky {
      display: inline-block;
      padding: 0.5em 1em;
      text-decoration: none;
      background: #f7f7f7;
      border-left: solid 6px #ff7c5c;/*左線*/
      color: #4c4c4c;/*文字色*/
      font-weight: bold;
      box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.29);
    }

    .buttons .btn-sticky:active {
      box-shadow: inset 0 0 2px rgba(128, 128, 128, 0.1);
      transform: translateY(2px);
    }


    // スマホサイズ
    @media (max-width: 767px) {
      height: 900px;

      .text {
        position: absolute;
        top: 5%;
        width: 100%;
      }

      .text p {
        font-size: 1.7rem;
        margin: 30px;
      }

      .buttons {
        position: absolute;
        top: 50%;
        width: 100%;
      }
    }
  }





// 下
  .usage_slider {
  	width: 80%;
  	margin:0 auto;
    padding: 0px;

    .slider {
      margin: 30px;

      img {
        width:100%;
        padding: 30px 0;
      }

      p {
        color: #6b6b6b;
      }
    }

    .slick-prev::before,
    .slick-next::before{
      color: #000;
      font-size: 40px;
    }

    .slick-prev {
      left: -45px;
    }


  }
}
