// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.user_show {
  border: solid 1px black;

  position: relative;
  max-width: 600px;
  margin: 50px auto;

  img {
    // position: absolute;
    // left:0;
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 50%;
    margin: 50px;
  }
  //
  // p {
  //   width: 400px;
  //   font-size: 25px;
  // }
  //
  // .name {
  //   position: absolute;
  //   top: 200px;
  // }
  //
  // .email {
  //   position: absolute;
  //   top: 250px;
  // }

  .profile {
    border: solid 1px;
    width: 80%;
    height: 200px;
    margin: 0 auto;

  }
}






.user_edit {
  img {
    // position: absolute;
    // left:0;
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 50%;
  }
}




.form-group {
  padding: 0;
  margin: 30px auto;
  width: 400px;
}






.cp_iptxt {
  text-align: left;
  width: 100%;
	position: relative;
	margin: 40px auto;
}

.new_user {
  text-align: center;
}
