// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.user_show {
  // border: solid 1px black;

  height: 500px;
  width:  800px;
  margin: 50px auto;
  position: relative;

}

.user_show img {
  // position: absolute;
  // left:0;
  width: 150px;
  height: 150px;
  object-fit: cover;
  border-radius: 50%;
  margin: 50px;
}
//
// .user_show p {
//   width: 400px;
//   font-size: 25px;
// }
//
// .user_show .name {
//   position: absolute;
//   top: 200px;
// }
//
// .user_show .email {
//   position: absolute;
//   top: 250px;
// }

.user_show .profile {
  margin: 0 auto;
  width: 50%;
  height: 20%;
}



.form-group {
  padding: 0;
  margin: 30px auto;
  width: 400px;
}






.cp_iptxt {
  text-align: left;
  width: 400px;
	position: relative;
	margin: 40px auto;
}

.new_user {
  text-align: center;
}
