// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.icon_image {
margin: 30px;
}

.icon_image img {
  width: 150px;
  height: 150px;
  object-fit: cover;
  border-radius: 50%;
}

.user_info {
  font-size: 15px;
  margin: 30px;
}
