<h3>カテゴリー</h3>

<table>
  <tbody>
    <% @categories.each do |category| %>
      <tr>
        <td><%= category.name %></td>
        <td><%= link_to '編集', edit_category_path(category) %></td>
        <td><%= link_to '削除', category, method: :delete, data: { confirm: "「#{category.name}」を削除しますか？" } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'カテゴリーを作成する', new_category_path %>
